# Airflow Permissions
AIRFLOW_UID=50000

# Database Credentials 
SOURCE_DB_USER=logistics_admin
SOURCE_DB_PASSWORD=supersecret
SOURCE_DB_NAME=logistics_db

# Weather API Keys (For Phase 3)
TOMORROWIO_API_KEY=your_key_here
OPENWEATHER_API_KEY=your_key_here
